<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2 id="app">{{text}}</h2>

    <script>
        var socket = new WebSocket("ws://127.0.0.1:8000/ws/my_async/");
        socket.onopen = function(){
            console.log("WebSocket connected open...");
            socket.send("Hi.. Message from Jayant");
        }
        socket.onmessage = function(event){
            document.querySelector('#app').innerText = event.data;
        }
        socket.onerror = function(event){
            console.log("WebSocket error socket occurred..", event);
        }
        socket.onclose = function(event){
            console.log("WebSocket connection closed...", event)
        }
    </script>
</body>
</html>